*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size:16px;
    color:#777;
}

.header{
    height: 97vh;
    background-image: linear-gradient(to right, #55c57ac0, #28b485d3), url('./../resource/img/hero.jpg');
    
    background-size: cover;
    background-position: top;

    clip-path: polygon( 0 0, 100% 0, 100% 75%, 0 100%);

    position: relative;
}

.text-box{
    position: absolute; /*parent->header*/
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 48px;
}

.heading-primary-main{
    display: block;
    font-size:60px;
    font-weight: 400;
    letter-spacing: 32px;

}

.heading-primay-sub{
    display: block;
    font-size:20px;
    font-weight: 700;
    letter-spacing: 17px;
}

.logo-box{
    position: absolute;
    top:45px;
    left:45px;
}

.logo{
    height: 35px;
}

.btn:link, .btn:visited{

    text-decoration: none;
    text-transform:uppercase;

    display: inline-block;

    border-radius: 100px;

    padding: 14px 40px;

   transition: all 0.2s;

}

.btn:hover{ /*mouse over the button*/

	transform: translateY(-3px);  /*relative to base pos*/
	box-shadow: 0 10px 20px #0000008c; /*shadow*/
}

.btn:active{
    transform:translateY(3px);
    box-shadow: 0 5px 10px #0000008c;
}

.btn-white{
    background-color: #fff;
    color: #777;
}